<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"main","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":"0","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main
  id="main"
  class="wp-block-group"
  style="
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  "
>
<!-- wp:pattern {"slug":"nutri-coach/hero"} /-->
<!-- wp:pattern {"slug":"nutri-coach/about"} /-->
<!-- wp:pattern {"slug":"nutri-coach/consultation"} /-->
<!-- wp:pattern {"slug":"nutri-coach/programs"} /-->
<!-- wp:pattern {"slug":"nutri-coach/results"} /-->
<!-- wp:pattern {"slug":"nutri-coach/social-media"} /-->
<!-- wp:pattern {"slug":"nutri-coach/reviews"} /-->
<!-- wp:pattern {"slug":"nutri-coach/blog"} /-->
<!-- wp:pattern {"slug":"nutri-coach/get-started"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
